<a href="https://colab.research.google.com/github/mkaustubh/data-analytics/blob/main/Flipkart%20Sentiment%20Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**You can reference the dataset at [this link](https://data.world/opensnippets/flipkart-mobiles-reviews-dataset).**

---

In [ ]:
!git clone https://github.com/mkaustubh/data-analytics.git

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
reviews = pd.read_csv('data-analytics/archive/electronics_reviews_uniq.csv')
reviews.head()

                                     id  ...  verified_purchase
0  02d51a4b-63b9-5e74-b93d-b787a6fcca73  ...               True
1  b853b987-bdb1-59b9-9eae-78fa005aa10a  ...               True
2  ad8f5bc2-6371-5f4a-879b-a273cb806e96  ...               True
3  bbb5586d-aeca-51c4-a40c-63a406e6fb92  ...               True
4  d1e0e371-354a-5784-8d27-cc6bc520f0b4  ...               True

[5 rows x 18 columns]

In [6]:
reviews = reviews.drop('reviewed_at',axis=1)

In [7]:
reviews[reviews.isna().any(axis=1)]

                                        id  ...  verified_purchase
2728  742b1c1b-949a-5ec4-b670-1e1f9cb7eb16  ...               True

[1 rows x 17 columns]

In [8]:
reviews = reviews.dropna(axis=1)

In [9]:
honor = reviews[['product','rating','likes','dislikes','description']][reviews['product']=='Honor 10 Lite (Midnight Black, 32 GB)']
honor.head()

                                 product  ...                                        description
0  Honor 10 Lite (Midnight Black, 32 GB)  ...  1) Camera quality : Awesome ... it generates g...
1  Honor 10 Lite (Midnight Black, 32 GB)  ...  Awesome mobile , I got it with in 2 days .shap...
2  Honor 10 Lite (Midnight Black, 32 GB)  ...  Honor 10 lite :Pros :-1) Cameras are good 24MP...
3  Honor 10 Lite (Midnight Black, 32 GB)  ...  Superb camera, beautiful and slim design, ligh...
4  Honor 10 Lite (Midnight Black, 32 GB)  ...          good and best mobil honor is best company

[5 rows x 5 columns]

In [10]:
# description into lower case
honor['description'] = honor.description.astype(str).apply(lambda x: x.lower())
honor.head()

                                 product  ...                                        description
0  Honor 10 Lite (Midnight Black, 32 GB)  ...  1) camera quality : awesome ... it generates g...
1  Honor 10 Lite (Midnight Black, 32 GB)  ...  awesome mobile , i got it with in 2 days .shap...
2  Honor 10 Lite (Midnight Black, 32 GB)  ...  honor 10 lite :pros :-1) cameras are good 24mp...
3  Honor 10 Lite (Midnight Black, 32 GB)  ...  superb camera, beautiful and slim design, ligh...
4  Honor 10 Lite (Midnight Black, 32 GB)  ...          good and best mobil honor is best company

[5 rows x 5 columns]

In [11]:
#  Removed punctuation from description
import re, string
honor['description'] = honor['description'].apply(lambda x: re.sub('[%s]' % re.escape(string.punctuation), '' , x))
honor.head()

                                 product  ...                                        description
0  Honor 10 Lite (Midnight Black, 32 GB)  ...  1 camera quality  awesome  it generates good c...
1  Honor 10 Lite (Midnight Black, 32 GB)  ...  awesome mobile  i got it with in 2 days shappi...
2  Honor 10 Lite (Midnight Black, 32 GB)  ...  honor 10 lite pros 1 cameras are good 24mp cam...
3  Honor 10 Lite (Midnight Black, 32 GB)  ...  superb camera beautiful and slim design light ...
4  Honor 10 Lite (Midnight Black, 32 GB)  ...          good and best mobil honor is best company

[5 rows x 5 columns]

In [12]:
# Removed numbers from description
def rmnum(s):
    t = ''
    for i in s:
        if not i.isdigit():
            t+=i
    return t
honor['description'] = honor.description.apply(rmnum)
honor.head()

                                 product  ...                                        description
0  Honor 10 Lite (Midnight Black, 32 GB)  ...   camera quality  awesome  it generates good co...
1  Honor 10 Lite (Midnight Black, 32 GB)  ...  awesome mobile  i got it with in  days shappir...
2  Honor 10 Lite (Midnight Black, 32 GB)  ...  honor  lite pros  cameras are good mp camera a...
3  Honor 10 Lite (Midnight Black, 32 GB)  ...  superb camera beautiful and slim design light ...
4  Honor 10 Lite (Midnight Black, 32 GB)  ...          good and best mobil honor is best company

[5 rows x 5 columns]

In [13]:
# Removed stopwords using nltk
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stop_words = set(stopwords.words(['english']))
stop_words.add('honor')
stop_words.add('midnight')
stop_words.add('black')
stop_words.add('lite')

def remove_stopwords(text):
    return " ".join([word for word in str(text).split() if word not in stop_words])
honor['description'] = honor['description'].apply(lambda x: remove_stopwords(x))
honor.head()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

                                 product  ...                                        description
0  Honor 10 Lite (Midnight Black, 32 GB)  ...  camera quality awesome generates good colors l...
1  Honor 10 Lite (Midnight Black, 32 GB)  ...  awesome mobile got days shappire blue superb f...
2  Honor 10 Lite (Midnight Black, 32 GB)  ...  pros cameras good mp camera price simply aweso...
3  Honor 10 Lite (Midnight Black, 32 GB)  ...  superb camera beautiful slim design light weig...
4  Honor 10 Lite (Midnight Black, 32 GB)  ...                       good best mobil best company

[5 rows x 5 columns]

In [14]:
#  Reduced a word to its word stem using lemmatization

nltk.download('wordnet')

from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

def stem_words(text):
    return " ".join([lemmatizer.lemmatize(word) for word in text.split()])
honor["description"] = honor["description"].apply(lambda x: stem_words(x))
honor.head()

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

                                 product  ...                                        description
0  Honor 10 Lite (Midnight Black, 32 GB)  ...  camera quality awesome generates good color li...
1  Honor 10 Lite (Midnight Black, 32 GB)  ...  awesome mobile got day shappire blue superb fr...
2  Honor 10 Lite (Midnight Black, 32 GB)  ...  pro camera good mp camera price simply awesome...
3  Honor 10 Lite (Midnight Black, 32 GB)  ...  superb camera beautiful slim design light weig...
4  Honor 10 Lite (Midnight Black, 32 GB)  ...                       good best mobil best company

[5 rows x 5 columns]

In [15]:
# pos tagged description
nltk.download('averaged_perceptron_tagger')
nltk.download('punkt')
from nltk import word_tokenize

def postag(x):
    text_tok = nltk.word_tokenize(x)
    pos_tagged = nltk.pos_tag(text_tok)
    return dict(pos_tagged)
honor["description"] = honor["description"].apply(lambda x: postag(x))
honor.head()

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

                                 product  ...                                        description
0  Honor 10 Lite (Midnight Black, 32 GB)  ...  {'camera': 'NN', 'quality': 'NN', 'awesome': '...
1  Honor 10 Lite (Midnight Black, 32 GB)  ...  {'awesome': 'JJ', 'mobile': 'NN', 'got': 'VBD'...
2  Honor 10 Lite (Midnight Black, 32 GB)  ...  {'pro': 'JJ', 'camera': 'NN', 'good': 'JJ', 'm...
3  Honor 10 Lite (Midnight Black, 32 GB)  ...  {'superb': 'NN', 'camera': 'NN', 'beautiful': ...
4  Honor 10 Lite (Midnight Black, 32 GB)  ...  {'good': 'JJ', 'best': 'RBS', 'mobil': 'NN', '...

[5 rows x 5 columns]